$blue-color: #e6f2ff;
$blue2-color: #a1dbff;
$white-color: #ffffffff;
$gray-color: #a8a4a4;
$transparent-black-color: #0007;
$transparent-black2-color: #0009;
$transparent-black3-color: #000a;
$yellow-color: #ffff4d;
$yellow2-color: #e6e600;
$red-color: #ff5c33;
$red2-color: #ff3300;
